@model IEnumerable<Game.Models.Ticket>
@{
    ViewBag.Title = "Admin Ticket Index";
}
<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ticket_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchased)
        </th>


    </tr>
    @foreach (var ticket in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => ticket.Ticket_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ticket.DrawType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ticket.Number1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ticket.Number2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ticket.Number3)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ticket.Number4)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ticket.Number5)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ticket.Number6)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ticket.purchased)
    </td>



</tr>
    }
</table>