@model Game.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Draw</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrawType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number1)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number2)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number3)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number4)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number5)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number6)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.purchased)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Ticket_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>