@model IEnumerable<Game.Models.Games>
    @{
     ViewBag.Title = "Admin Index";
    }
    <h2>Index</h2>
    
    @using (Html.BeginForm())
    {
     <p>
     Find by name: @Html.TextBox("SearchString")
     <input type="submit" value="Search" />
     </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrawID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            
            
        </tr>
     @foreach (var item in Model)
     {
     <tr>
     <td>
     @Html.DisplayFor(modelItem => item.DrawID)
     </td>
     <td>
     @Html.DisplayFor(modelItem => item.TicketId)
     </td>
   
     </tr>
     }
    </table>